<header class="row">
	   <div class="col-md-2">
	       <div class="container">
				<div class="row">
					   <div class="col-sm-3">
							<img src="{{ site.url }}/assets/profile.jpg">	
					   </div>
				</div>
				<div class="row">
					   <div class="col-sm-1">
							 <span class="glyphicon glyphicon-envelope"></span>
					   </div>
					   <div class="col-sm-1">
							 <span class="glyphicon glyphicon-envelope"></span>
					   </div>
					   <div class="col-sm-1">
							 <span class="glyphicon glyphicon-envelope"></span>
					   </div>
				</div>
		  </div>
	   </div>
	   <div class="col-md-8">
			 <div class="page-header">
				    <h1>Robert D. French <small>Mathematical Software Engineer</small></h1>
			 </div>
	   </div>
</header>
